h1{
  padding:200px;
  color:red;
  border-radius:20px;

}
body{
  background-color:white;
  box-sizing:border-box;
  margin:0;
}
.img{
  
  width:200px;
  height:300px;
  display:flex;

}
.div{
  width:100%;
  height:100vh;
  align-items:center;
  display:flex;
  justify-content:center;
}
span{
  color:blue;
}